{% extends 'base.html' %}

{% block content %}
    <h1>Hello World!</h1>

    {% if widgets|length == 0 %}
    <h3>No Widgets Exist</h3>
    <hr>
    {% else %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
        </thead>
    {% for widget in widgets %}
        <tr>
            <td>{{ widget.description }}</td>
            <td>{{ widget.quantity }}</td>
            <td><a href="{% url 'deleteWidget' widget.id %}">X</a></td>
        </tr>
    {% endfor %}
        <tr>
            <td><b>Total Quantity</b></td>
            <td><b>{{ totalQuantity }}</b></td>
            <td></td>
        </tr>
    </table>
    <hr>
    {% endif %}
    {% include 'widget_form.html' %}
{% endblock %}